<% content_for :title, "Fury Soccer Academy Registration" %>

<p class="greybox">Registration Guidlines:<br />
<strong>1. All participants must register online. Please complete the menu below.<br />
Please select the location that is closest to you: Heroes Park or JBIL Park (Between Locust Grove and Meridian Rd, just South of Franklin). Academy groups will be based upon number of participants for an age group at each location.<br />

</strong>
</p>

<ul>
</ul>


<% form_for(@signup) do |f| %>
	<%= render :partial => "form", :object => f %>
  	<p>
    	<%= f.submit 'Create' %>
  	</p>
<% end %>

<% if @auth_global %>
	<%= link_to 'Back', signups_path %>
<% end %>
