<% content_for :title, "Fury Soccer Academy Registration" %>

<p class="greybox">Registration Guidelines:<br />
<strong>All participants must register online.  Academy groups will be based upon number of participants for an age group at each location.<br />

</strong>
</p>

<ul>
</ul>


<% form_for(@signup) do |f| %>
	<%= render :partial => "form", :object => f %>
  	<p>
    	<%= f.submit 'Create' %>
  	</p>
<% end %>

<% if @auth_global %>
	<%= link_to 'Back', signups_path %>
<% end %>
